.hexagon {
  width: 100px;;
  margin: 4px;
  height: 115.47px;
  display: inline-block;
  font-size: initial; /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}


.label {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: white; /* Text color */
  font-size: 12px; /* Adjust size as needed */
}
